In [ ]:
#Q1) Python program to print all odd numbers in a list.

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
final = []
for i in range(len(list1)):
  if i%2!=0:
    final.append(i)
  else:
    pass
print(final)

[1, 3, 5, 7, 9]

In [7]:
#Q2) Python program to find the sum of list elements.

list1 = [1,3,5,7]
var =sum(list1)
print(var)

16

In [9]:
#Q3) Python program to reverse a list in two ways.

cars  = ['audi','honda', 'civic']
cars.reverse()
print(cars)
cars[-1: : -1]
print(cars)

['civic', 'honda', 'audi']
['civic', 'honda', 'audi']

In [8]:
'''Q4) Python program to find the top two maximum
numbers in a list.'''
list1 = [20,10, 80, 60]
list1.sort()
print(list1[-1])
print(list1[-2])

80
60

In [15]:
'''Q5) Write a program in Python to find the second highest
number in an integer list.'''

list1 = [10, 5, 2, 20,15]
list1.sort()
print(list1[-2])

15

In [ ]:
'''Q6) Python program to sort characters in descending
order.'''

names = ['asad', 'zubair', 'talha', 'kashif']
names.sort()
print(names)
names.sort(reverse= True)
print(names)

['asad', 'kashif', 'talha', 'zubair']
['zubair', 'talha', 'kashif', 'asad']

In [1]:
'''Q7) Python program to remove repeated characters from a
string.'''

name = input('enter any name:')

new_list = []
for a in name:
  if a not in new_list:
    new_list.append(a)
print(new_list)

enter any name:abbyaan
['a', 'b', 'y', 'n']

In [ ]:
'''Q8) Python program to check if a given character is a
vowel or consonant.'''

l = input("Input a letter of the alphabet: ")

if l in ('a', 'e', 'i', 'o', 'u'):
	print(l,"is a vowel.")
else:
	print(l, "is a consonant.")

Input a letter of the alphabet: e
e is a vowel.

In [ ]:
#Q9) Python Program to calculate factorial.

num = int(input('enter number:'))
factorial = 1
if num < 0:
  print("Sory, factorial does not exit for negative numbers")
elif num == 0:
  print("The factorial of 0 is 1")
else:
  for i in range(1,num + 1):
   factorial = factorial*i
  print("The factorial of", num, "is", factorial)

enter number:6
The factorial of 6 is 720

In [ ]:
#Q10) Python Program to merge two lists.

list1 = [2, 4, 6] 
list2 = [4, 5, 8]
list3 = list1 + list2
print(list3)

[2, 4, 6, 4, 5, 8]